
body{
    background-color: grey;

}

body>div{

    background-color: green;
    width: 400px;
    height: 400px;
}
body>div>div{

    background-color: aqua;
    margin: 10px;
    float: left;
    width: 180px;
    height: 180px;
}
body>div>div>div{
   margin: 5px;
   float: left;
   width:80px;
   height: 80px;
   background-color:brown;

}
body>div>div:first-child>div:first-child{
    background-color: red;
}

body>div>div:last-child>div:last-child{
    background-color: red;
}

body>div>div:first-child>div:last-child{
    background-color: rgb(212, 30, 30);
}
body>div>div:last-child>div:first-child{
    background-color: rgb(233, 33, 33);
}

body>div>div:nth-child(2)>div:nth-child(2){
    background-color: red;
}
body>div>div:nth-child(2)>div:nth-child(3){
    background-color: red;
}
body>div>div:nth-child(3)>div:nth-child(2){
    background-color: red;
}
body>div>div:nth-child(3)>div:nth-child(3):hover+div:nth-child(4){
    background-color: red;
}
